<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>当当网商品展示页面</title>
    <link href="css/global.css" rel="stylesheet" type="text/css" />
    <link href="css/layout.css" rel="stylesheet" type="text/css" />
	<link href="css/template.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript">
	$(document).ready(function(e) {

			$("#menu").mouseenter(function(){
			  $("#dd_menu_top_down").slideDown(1000);//鼠标移入  淡入
			  
			 }).mouseleave(function(){
			$("#dd_menu_top_down").slideUp(1000);//鼠标移除  淡出
		});
	});

	function buyBook(userName,petName){
        window.location.href="shopping?userName="+userName + "&petName=" + petName;
    }

    function putInCar(bookId,userName){
        alert("加入成功！");
        $.ajax({
            type : "POST",
            url:"/user/putInCar?bookId="+bookId+"&userName="+userName,
            dataType : "json",
            success : function(data) {
                alert(data.msg);
            }
        });
    }

	</script>
</head>
<body>

<div id="header">
    <!--顶部开始-->
	<div class="header_top">
		<div class="header_top_left">${petName!} 您好！欢迎光临当当网</div>
		<div class="header_top_right">
			<ul>
				<li><a href="#" target="_self">帮助</a></li>
				<li>|</li>
				<li id="menu"><a href="#" target="_self">我的当当</a> <img src="images/dd_arrow_down.gif" alt="arrow" />
					<div id="dd_menu_top_down">
						<a href="#" target="_self">我的订单</a><br />
						<a href="#" target="_self">账户余额</a><br />
						<a href="#" target="_self">购物礼券</a><br />
						<a href="#" target="_self">我的会员积分</a><br />
					</div>
				</li>
				<li>|</li>
				<li><a href="#" target="_self">团购</a></li>
				<li>|</li>
				<li><a href="#" target="_self">礼品卡</a></li>
				<li>|</li>
				<li><a href="#" target="_self">个性化推荐</a></li>
				<li>|</li>
				<li><a href="shopping.html" target="_parent">购物车</a></li>
				<li><img src="images/dd_header_shop.gif" alt="shopping"/></li>
			</ul>
		</div>
	</div>
	<!--导航开始-->
	<div class="header_middle">
		<div class="logo"><img src="images/dd_logo.gif" alt="logo"/></div>
		<div class="menu_left">
			<dl>
				<dd class="menu_left_first"></dd>
			</dl>
			<ul id="menu_left_bold">
				<li><a href="index.html" target="_parent" class="bold">首页</a></li>
				<li>|</li>
				<li><a href="product.html" target="_parent" class="bold">图书</a></li>
				<li>|</li>
				<li><a href="#" target="_self" class="bold">音乐</a></li>
				<li>|</li>
				<li><a href="#" target="_self" class="bold">影视</a></li>
				<li>|</li>
				<li><a href="#" target="_self" class="bold">运动</a></li>
				<li>|</li>
				<li><a href="#" target="_self" class="bold">服饰</a></li>
				<li>|</li>
				<li><a href="#" target="_self" class="bold">家居</a></li>
				<li>|</li>
				<li><a href="#" target="_self" class="bold">美妆</a></li>
				<li>|</li>
				<li><a href="#" target="_self" class="bold">母婴</a></li>
				<li>|</li>
				<li><a href="#" target="_self" class="bold">食品</a></li>
				<li>|</li>
				<li><a href="#" target="_self" class="bold">数码家电</a></li>
			</ul>
			<dl>
				<dd class="menu_left_end"></dd>
			</dl>
		</div>
		<div class="menu_right" id="menu_dull_red">
			<ul>
				<li class="menu_right_1"><a href="#" target="_self">商店街</a></li>
				<li class="menu_right_2"><a href="#" target="_self">促销</a></li>
				<li class="menu_right_3"><a href="#" target="_self">当当<img src="images/dd_header_top.png" alt="榜" /></a>
				</li>
				<li class="menu_right_2"><a href="#" target="_self">社区</a></li>
				<li class="menu_right_3"><a href="#" target="_self">在线读书</a></li>
			</ul>
		</div>
		<div class="menu">
			<div class="menu_first"></div>
			<div id="menu_white">
				<a href="#" target="_self" class="menu_mid_white">小说</a>|
				<a href="#" target="_self" class="menu_mid_white">青春</a>|
				<a href="#" target="_self" class="menu_mid_white">历史</a>|
				<a href="#" target="_self" class="menu_mid_white">保健</a>|
				<a href="#" target="_self" class="menu_mid_white">少儿</a>|
				<a href="#" target="_self" class="menu_mid_white">旅游</a>|
				<a href="#" target="_self" class="menu_mid_white">期刊</a>|
				<a href="#" target="_self" class="menu_mid_white">图书畅销榜</a>|
				<a href="#" target="_self" class="menu_mid_white">新书热卖榜</a>|
				<a href="#" target="_self" class="menu_mid_white">特价书</a>|
				<a href="#" target="_self" class="menu_mid_white">图书促销</a>|
				<a href="#" target="_self" class="menu_mid_white">所有图书分类</a>
			</div>
			<div class="menu_end"></div>
		</div>
	</div>
	<!--搜索开始-->
	<div class="header_search">
		<div class="header_serach_left"></div>
		<div class="header_serach_mid">
			<ul id="header_serach_mid_menu">
				<li><input id="header_serach" type="text" class="header_input_search" /></li>
				<li><input type="image" class="header_secrch_btn" src="images/dd_header_search_btn.jpg" /></li>
				<li><img src="images/dd_arrow_right.gif" alt="arrow"/> <a href="#" target="_self">高级搜索</a></li>
				<li>|</li>
				<li><img src="images/dd_header_search_top.jpg" alt="搜索风云榜"/></li>
				<li><a href="#" target="_self">雅思</a></li>
				<li>|</li>
				<li><a href="#" target="_self">建造师</a></li>
				<li>|</li>
				<li><a href="#" target="_self">中里巴人</a></li>
				<li>|</li>
				<li><a href="#" target="_self">注会</a></li>
				<li>|</li>
				<li><a href="#" target="_self">新概念英语</a></li>
				<li>|</li>
				<li><a href="#" target="_self">更多&gt;&gt;</a></li>
			</ul>
	
	
		</div>
		<div class="header_serach_right"></div>
	</div>
</div>

<!--中间部分开始-->
<div id="main">
    <div class="dd_index_top_adver"><img src="images/dd_index_top_adver.jpg" alt="通栏广告图片" /></div>
    <div class="current_place">您现在的位置：<a href="index.html">当当图书</a> &gt;&gt; 小说 &gt;&gt; 财经</div>
    <!--左侧菜单开始-->
    <div id="product_left">
        <div id="product_catList">
            <div class="product_catList_top">浏览同级分类</div>
            <div id="product_catList_class"><!--使用javaScript显示图书分类--></div>
        </div>
        <div class="product_catList_end">
            <img src="images/product_01.gif" alt="shopping"/>
            <img src="images/product_02.gif" alt="shopping"/>
        </div>
    </div>
    <!--右侧内容开始-->
    <div id="product_storyList">
        <div id="product_storyList_top">
            <ul>
                <li>排序方式</li>
                <li><img src="images/dd_arrow_right.gif" alt="arrow"/></li>
                <li>
                    <select id="compositor">
                    <option>按销量 降序</option>
                    <option>按价格 升序</option>
                    <option>按价格 降序</option>
                    <option>按折扣 升序</option>
                    <option>按折扣 降序</option>
                    <option>按出版时间 升序</option>
                    <option>按出版时间 降序</option>
                    <option>按上架时间 升序</option>
                    <option>按上架时间 降序</option>
                    </select>
                </li>
                <li><img src="images/product_icon_01.gif" alt="icon"/></li>
                <li><img src="images/product_icon_02.gif" alt="icon"/></li>
                <li><img src="images/product_icon_03.gif" alt="icon"/></li>
                <li><img src="images/product_icon_04.gif" alt="icon"/></li>
                <li>每页显示的数量</li>
                <li><img src="images/dd_arrow_right.gif" alt="arrow"/></li>
                <li><img src="images/product_icon_20.gif" alt="icon"/></li>
                <li><img src="images/product_icon_40.gif" alt="icon"/></li>
                <li style="float:right; padding-right:10px;"><img src="images/product_page_down.gif" alt="icon"/></li>
                <li style="float:right;">第1页</li>
                <li style="float:right;"><img src="images/product_page_up.gif" alt="icon"/></li>
            </ul>
        </div>
        <div id="product_array">
            <a class="click" name="array"  href="javascript:void(0)">列表</a>
            <a name="bigImg" href="javascript:void(0)">大图</a>
        </div>
        <!--图书排列开始-->
        <div id="product_storyList_content" class="product_storyList_content">
            <div id="storyBooksssss"><!--使用javaScript显示图书列表--></div>
            <!--列表开始-->
            <#list bookList as book>
            <div class="product_storyList_content_left"><img src="images/product_list_01.jpg" alt="图书列表"/></div>
            <div class="product_storyList_content_right">
                <ul>
                    <li class="product_storyList_content_dash"><a href="#" class="blue_14">${book.name}</a></li>
                    <li>顾客评分：<img src="images/star_red.gif" alt="star"/><img src="images/star_red.gif" alt="star"/><img src="images/star_red.gif" alt="star"/><img src="images/star_red.gif" alt="star"/><img src="images/star_gray.gif" alt="star"/></li>
                    <li>作　者：<a href="#" class="blue_14">${book.author}</a> 著</li>
                    <li>出版社：<a href="#" class="blue_14">${book.press}</a></li>
                    <li>出版时间：${book.presstime}</li>
                    <li>${book.introduce}</li>
                    <li>
                        <dl class="product_content_dd">
                            <dd><img src="images/product_buy_02.gif" alt="shopping" onclick="putInCar('${book.id}','${userName!}')"/></dd>
                            <dd><img src="images/product_buy_01.gif" alt="shopping" onclick="buyBook('${userName!}','${petName!}')"/></dd>
                            <dd>折扣：<span>${book.discount}折</span></dd>
                            <dd class="footer_dull_red"><span>￥${book.price}</span></dd>
                        </dl>
                    </li>
                </ul>
            </div>
            <div class="product_storyList_content_bottom"></div>
            </#list>
            <div>
                <dl class="product_content_dd">
                    <dd><img src="images/OK.gif" alt="ok"/></dd>
                    <dd>页</dd>
                    <dd><input name="page" type="text" value="1" style="width:20px;"/></dd>
                    <dd>跳转到第</dd>
                    <dd><img src="images/next.gif" alt="ok"/></dd>
                    <dd>
                        <ul id="product_page">
                            <li><a href="#" class="product_page">1</a></li>
                            <li><a href="#" class="product_page">2</a></li>
                            <li> <a href="#" class="product_page">3</a></li>
                            <li> ...</li>
                            <li><a href="#" class="product_page">14</a></li>
                            <li><a href="#" class="product_page">15</a></li>
                            <li><a href="#" class="product_page">16</a></li>
                        </ul>
                    </dd>
                    <dd><img src="images/product_page_up.gif" alt="ok"/></dd>
                </dl>
            </div>
        </div>
    </div>
    <!--右侧内容结束-->
</div>
<!--网站版权部分开始-->
<div id="footer">
<div class="footer_top"><a href="#" target="_parent" class="footer_dull_red">公司简介</a> | <a href="#" target="_parent" class="footer_dull_red">诚证英才</a> | <a href="#" target="_parent" class="footer_dull_red">网站联盟</a> | <a href="#" target="_parent" class="footer_dull_red">百货招商</a> | <a href="#" target="_parent" class="footer_dull_red">交易条款</a></div>
<div class="footer_end">Copyright (C) 当当网 2004-2009, All Rights Reserved  <img src="images/validate.gif" alt="版权" style="vertical-align:middle;" /> 京ICP证041189号 音像制品经营许可证 京音网8号</div>
</div>
</body>
</html>
