<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>当当网购物车页面</title>
    <link href="css/global.css" rel="stylesheet" type="text/css" />
    <link href="css/layout.css" rel="stylesheet" type="text/css" />
	<link href="css/template.css" rel="stylesheet" type="text/css" />
	
    <script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript">
	$(document).ready(function(e) {
			$("#menu").mouseenter(function(){
			  $("#dd_menu_top_down").slideDown(1000);//鼠标移入  淡入
			  
			 }).mouseleave(function(){
			$("#dd_menu_top_down").slideUp(1000);//鼠标移除  淡出
		});
	});
	</script>
	
    <script type="text/javascript">
	$(document).ready(function(e) {
    $("#myTableProduct").find(".shopping_product_list_6").children("a").click(function(){//找到tr下的td下的a标签
        if(confirm("您确定要删除商品么？")){
            $(this).parent().parent().remove();
            totalPrice();
        }
    });
	    //修改数量
    $("#myTableProduct").find(".shopping_product_list_5").children("input").change(function(){//数量修改框里面的事件
        var value=$(this).val();//获取text框里面的值
        if((value == "")||!(/^[0-9]*[1-9][0-9]*$/.test(value))){//text框里面不能有小数点  所有有replace
            alert("数量不能为空，且只能为正整数");
            $(this).val(1);//如果没有修改  默认值为1
        }
        var total =totalPrice();//修改价格
        alert("修改成功！，您的商品总金额是"+total+"元");//用一个变量传递数据
    });
 });
    function totalPrice(){
        var scores= 0,prices=0;//积分，原价，现价
        $("#myTableProduct").find("tr").each(function(i,ele) {//遍历所以tr里面的值
			var score=parseInt($(ele).find(".shopping_product_list_2").find("label").text().replace(".",""))*1;
			var price=parseInt($(ele).find(".shopping_product_list_3").find("label").text().replace(".",""))*1;
			var bookid = $(ele).find(".shopping_product_list_0").find("label").text();
			prices += price;
			scores += score;
			$.ajax({
				type : "POST",
				url:"/user/deleteBook?bookId="+bookid+"&userName=${userName!}",
				dataType : "json",
				success : function(data) {
				}
			});

		});
		$("#spje").text(prices);
		$("#spjf").text(scores);
        //     var num=$(ele).find(".shopping_product_list_5").find("input").val();//数量
        //     percents+=parseInt($(ele).find(".shopping_product_list_2").text())*num;//总积分=积分+积分*数量
        //     //解决下js中浮点数的bug问题，因此建议浮点数的运算不要放在前台，这里是指粗略的解决了一下
        //     var price=parseInt($(ele).find(".shopping_product_list_4").find("label").text().replace(".",""))*num;
        //     prices+=price;//总价格=现价*数量
        //     var prePrice=parseInt($(ele).find(".shopping_product_list_3").find("label").text().replace(".",""))*num;
        //     prePrices+=prePrice;//原价=原价*数量
        // });
        // $("#product_integral").text(percents);//积分栏显示所计算得出的积分
        // $("#product_total").text(prices/100); //总价栏=现价*0.01(因为前面计算已经省略了小数点  所有要/100显示出小数点)
        // $("#product_save").text((prePrices-prices)/100);//节省金额栏=（原价-现价）*0.01
        // return prices/100;//可有可无
    }

    function balance(){
    	alert("购买成功！");
		window.location.href="product?&petName=${petName!}";
	}

	function clearCar(){
		$.ajax({
			type : "POST",
			url:"/user/deleteAll?userName=${userName!}",
			dataType : "json",
			success : function(data) {
			}
		});
		//清除所有
		$("#myTableProduct").find("tr").each(function(i,ele) {//遍历所以tr里面的值
			$(this).parent().parent().remove();
			totalPrice();//修改价格
		});
	}

    </script>
</head>

<body>
<div id="header">
    <!--顶部开始-->
	<div class="header_top">
		<div class="header_top_left">${petName!} 您好！欢迎光临当当网</div>
		<div class="header_top_right">
			<ul>
				<li><a href="#" target="_self">帮助</a></li>
				<li>|</li>
				<li id="menu"><a href="#" target="_self">我的当当</a> <img src="images/dd_arrow_down.gif" alt="arrow" />
					<div id="dd_menu_top_down">
						<a href="#" target="_self">我的订单</a><br />
						<a href="#" target="_self">账户余额</a><br />
						<a href="#" target="_self">购物礼券</a><br />
						<a href="#" target="_self">我的会员积分</a><br />
					</div>
				</li>
				<li>|</li>
				<li><a href="#" target="_self">团购</a></li>
				<li>|</li>
				<li><a href="#" target="_self">礼品卡</a></li>
				<li>|</li>
				<li><a href="#" target="_self">个性化推荐</a></li>
				<li>|</li>
				<li><a href="shopping.html" target="_parent">购物车</a></li>
				<li><img src="images/dd_header_shop.gif" alt="shopping"/></li>
			</ul>
		</div>
	</div>
	<!--导航开始-->
	<div class="header_middle">
		<div class="logo"><img src="images/dd_logo.gif" alt="logo"/></div>
		<div class="menu_left">
			<dl>
				<dd class="menu_left_first"></dd>
			</dl>
			<ul id="menu_left_bold">
				<li><a href="index.html" target="_parent" class="bold">首页</a></li>
				<li>|</li>
				<li><a href="product.html" target="_parent" class="bold">图书</a></li>
				<li>|</li>
				<li><a href="#" target="_self" class="bold">音乐</a></li>
				<li>|</li>
				<li><a href="#" target="_self" class="bold">影视</a></li>
				<li>|</li>
				<li><a href="#" target="_self" class="bold">运动</a></li>
				<li>|</li>
				<li><a href="#" target="_self" class="bold">服饰</a></li>
				<li>|</li>
				<li><a href="#" target="_self" class="bold">家居</a></li>
				<li>|</li>
				<li><a href="#" target="_self" class="bold">美妆</a></li>
				<li>|</li>
				<li><a href="#" target="_self" class="bold">母婴</a></li>
				<li>|</li>
				<li><a href="#" target="_self" class="bold">食品</a></li>
				<li>|</li>
				<li><a href="#" target="_self" class="bold">数码家电</a></li>
			</ul>
			<dl>
				<dd class="menu_left_end"></dd>
			</dl>
		</div>
		<div class="menu_right" id="menu_dull_red">
			<ul>
				<li class="menu_right_1"><a href="#" target="_self">商店街</a></li>
				<li class="menu_right_2"><a href="#" target="_self">促销</a></li>
				<li class="menu_right_3"><a href="#" target="_self">当当<img src="images/dd_header_top.png" alt="榜" /></a>
				</li>
				<li class="menu_right_2"><a href="#" target="_self">社区</a></li>
				<li class="menu_right_3"><a href="#" target="_self">在线读书</a></li>
			</ul>
		</div>
		<div class="menu">
			<div class="menu_first"></div>
			<div id="menu_white">
				<a href="#" target="_self" class="menu_mid_white">小说</a>|
				<a href="#" target="_self" class="menu_mid_white">青春</a>|
				<a href="#" target="_self" class="menu_mid_white">历史</a>|
				<a href="#" target="_self" class="menu_mid_white">保健</a>|
				<a href="#" target="_self" class="menu_mid_white">少儿</a>|
				<a href="#" target="_self" class="menu_mid_white">旅游</a>|
				<a href="#" target="_self" class="menu_mid_white">期刊</a>|
				<a href="#" target="_self" class="menu_mid_white">图书畅销榜</a>|
				<a href="#" target="_self" class="menu_mid_white">新书热卖榜</a>|
				<a href="#" target="_self" class="menu_mid_white">特价书</a>|
				<a href="#" target="_self" class="menu_mid_white">图书促销</a>|
				<a href="#" target="_self" class="menu_mid_white">所有图书分类</a>
			</div>
			<div class="menu_end"></div>
		</div>
	</div>
	<!--搜索开始-->
	<div class="header_search">
		<div class="header_serach_left"></div>
		<div class="header_serach_mid">
			<ul id="header_serach_mid_menu">
				<li><input id="header_serach" type="text" class="header_input_search" /></li>
				<li><input type="image" class="header_secrch_btn" src="images/dd_header_search_btn.jpg" /></li>
				<li><img src="images/dd_arrow_right.gif" alt="arrow"/> <a href="#" target="_self">高级搜索</a></li>
				<li>|</li>
				<li><img src="images/dd_header_search_top.jpg" alt="搜索风云榜"/></li>
				<li><a href="#" target="_self">雅思</a></li>
				<li>|</li>
				<li><a href="#" target="_self">建造师</a></li>
				<li>|</li>
				<li><a href="#" target="_self">中里巴人</a></li>
				<li>|</li>
				<li><a href="#" target="_self">注会</a></li>
				<li>|</li>
				<li><a href="#" target="_self">新概念英语</a></li>
				<li>|</li>
				<li><a href="#" target="_self">更多&gt;&gt;</a></li>
			</ul>
	
	
		</div>
		<div class="header_serach_right"></div>
	</div>
</div>
<!--中间部分开始-->
<div id="main">
    <div>&nbsp;&nbsp;<img src="images/shopping_myshopping.gif" alt="shopping"/> <a href="#">全场免运费活动中</a></div>
    <!--为您推荐商品开始-->
    <div class="shopping_commend">
        <div class="shopping_commend_left">根据您挑选的商品，当当为您推荐</div>
        <div class="shopping_commend_right"><img src="images/shopping_arrow_up.gif" alt="shopping" id="shopping_commend_arrow"/></div>
    </div>
    <div id="shopping_commend_sort">
        <div class="shopping_commend_sort_left">
            <ul>
                <li class="shopping_commend_list_1">·<a href="#" class="blue">JavaScript DOM编程艺术</a></li>
                <li class="shopping_commend_list_2">￥39.00</li>
                <li class="shopping_commend_list_3">￥29.30</li>
                <li class="shopping_commend_list_4"><a href="#" class="shopping_yellow">购买</a></li>
            </ul>
            <ul>
                <li class="shopping_commend_list_1">·<a href="#" class="blue">解禁（当当网独家首发）</a></li>
                <li class="shopping_commend_list_2">￥28.00</li>
                <li class="shopping_commend_list_3">￥19.40</li>
                <li class="shopping_commend_list_4"><a href="#" class="shopping_yellow">购买</a></li>
            </ul>
            <ul>
                <li class="shopping_commend_list_1">·<a href="#" class="blue">地王之王（金融危机下房地产行...</a></li>
                <li class="shopping_commend_list_2">￥32.80</li>
                <li class="shopping_commend_list_3">￥25.10</li>
                <li class="shopping_commend_list_4"><a href="#" class="shopping_yellow">购买</a></li>
            </ul>
            <ul>
                <li class="shopping_commend_list_1">·<a href="#" class="blue">逃庄</a></li>
                <li class="shopping_commend_list_2">￥36.00</li>
                <li class="shopping_commend_list_3">￥27.70</li>
                <li class="shopping_commend_list_4"><a href="#" class="shopping_yellow">购买</a></li>
            </ul>
        </div>
        <div class="shopping_commend_sort_mid"></div>
        <div class="shopping_commend_sort_left">
            <ul>
                <li class="shopping_commend_list_1">·<a href="#" class="blue">深入浅出MySQL数据库开发、优...</a></li>
                <li class="shopping_commend_list_2">￥59.00</li>
                <li class="shopping_commend_list_3">￥47.20</li>
                <li class="shopping_commend_list_4"><a href="#" class="shopping_yellow">购买</a></li>
            </ul>
            <ul>
                <li class="shopping_commend_list_1">·<a href="#" class="blue">大玩家（马未都、王刚推荐!央...</a></li>
                <li class="shopping_commend_list_2">￥34.80</li>
                <li class="shopping_commend_list_3">￥20.60</li>
                <li class="shopping_commend_list_4"><a href="#" class="shopping_yellow">购买</a></li>
            </ul>
            <ul>
                <li class="shopping_commend_list_1">·<a href="#" class="blue">都市风水师--官场风水小说：一...</a></li>
                <li class="shopping_commend_list_2">￥39.80</li>
                <li class="shopping_commend_list_3">￥30.50</li>
                <li class="shopping_commend_list_4"><a href="#" class="shopping_yellow">购买</a></li>
            </ul>
            <ul>
                <li class="shopping_commend_list_1">·<a href="#" class="blue">国戏（以麻将术语解读宦海沉浮...</a></li>
                <li class="shopping_commend_list_2">￥25.00</li>
                <li class="shopping_commend_list_3">￥17.30</li>
                <li class="shopping_commend_list_4"><a href="#" class="shopping_yellow">购买</a></li>
            </ul>
        </div>
    </div>
    <div class="shopping_list_top">您已选购以下商品</div>
    <div class="shopping_list_border">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr class="shopping_list_title">
                <td class="shopping_list_title_1">商品名</td>
                <td class="shopping_list_title_2">单品积分</td>
                <td class="shopping_list_title_3">市场价</td>
                <td class="shopping_list_title_4">折扣</td>
                <td class="shopping_list_title_5">数量</td>
                <td class="shopping_list_title_6">删除</td>
            </tr>
        </table>
        <table width="100%" border="0" cellspacing="0" cellpadding="0" id="myTableProduct">
            <#list bookList as book>
                <tr class="shopping_product_list" id="shoppingProduct_01">
                    <td class="shopping_product_list_0" type="hidden"><label>${book.id}</label></td>
                    <td class="shopping_product_list_1"><a href="#" class="blue">${book.name}</a></td>
                    <td class="shopping_product_list_2"><label>${book.integral}</label></td>
                    <td class="shopping_product_list_3">￥<label>${book.price}</label></td>
                    <td class="shopping_product_list_4">${book.discount}折</label></td>
                    <td class="shopping_product_list_5"><input type="text" value="1" id="number_input"/></td>
                    <td class="shopping_product_list_6"><a href="#" class="blue" id="del">删除</a></td>
                </tr>
            </#list>
        </table>
        <div class="shopping_list_end">
            <div><a id="removeAllProduct" href="javascript:void(0);" onclick="clearCar()">清空购物车</a></div>
            <ul>
                <li class="shopping_list_end_1"><input name="" type="image" src="images/shopping_balance.gif" onclick="balance()"/></li>
                <li class="shopping_list_end_2">￥</li>
				<li class="shopping_list_end_3">商品金额总计：<span id="spje">${sumPrice!}</span></li>
                <li  class="shopping_list_end_4"></label> 可获商品积分：<span id="spjf">${sumScore!}</span></label>
                </li>
            </ul>
        </div>
    </div>
</div>

<!--网站版权部分开始-->
<div id="footer">
<div class="footer_end">Copyright (C) 当当网 2004-2009, All Rights Reserved  <img src="images/validate.gif" alt="版权" style="vertical-align:middle;" /> 京ICP证041189号 音像制品经营许可证 京音网8号</div></div>
</body>
</html>
